html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Update: Removed the Flex property - IE FIX */
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff5f1f;
    text-align: center;
}

 :root {
    --swiper-theme-color: #fff;
}

.netflix-slider .swiper-wrapper {
    padding: 20px 0;
}

.netflix-slider .swiper-slide {
    -webkit-transition: 250ms all;
    transition: 250ms all;
}

.netflix-slider .swiper-slide:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
}

.netflix-slider .swiper-slide:first-child:hover {
    margin: 0 40px;
}

.netflix-slider .swiper-slide:last-child:hover {
    margin: 0 -40px;
}


/* ----------------------------------------------------------------------- */

.netflix-nav-btn {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.netflix-open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.netflix-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out .4s;
    z-index: 10;
}

.netflix-nav.visible {
    transform: translateX(0);
}

.netflix-nav-black {
    background-color: #ff5f1f;
    width: 60%;
    max-width: 480px;
    min-width: 320px;
}

.netflix-nav-black.visible {
    transition-delay: 0s;
}

.netflix-nav-red {
    background-color: black;
    transition-delay: .2s;
    width: 95%;
}

.netflix-nav-red.visible {
    transition-delay: .2s;
}

.netflix-nav-white {
    background-color: #fff;
    padding: 40px;
    transition-delay: 0s;
    width: 76.5%;
}

.netflix-nav-white.visible {
    transition-delay: .4s;
}

.netflix-nav-container {
    position: relative;
}

.netflix-close-btn {
    opacity: 0.7;
    position: fixed;
    top: 10px;
    left: 10px;
    color: black;
}

.netflix-logo {
    width: 150px;
}

.netflix-list {
    list-style-type: none;
    padding: 0;
}

.netflix-list li {
    margin: 20px 0;
}

.netflix-list li a {
    color: rgb(34, 31, 31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

.netflix-list ul {
    list-style-type: none;
    padding-left: 20px;
}