{% extends 'index.html' %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/register.css' %}">

<body>

    <form class="box" method="post">

        <h5>Create new account here</h5>

        <div class="column">
            <div class="column">
                {% csrf_token %}
                {% csrf_token %} {% for field in form %}
                <div class="field">
                    <input placeholder="{{field.html_name}}" {{ field }} </div> {% endfor %}
                </div>
                <button type="submit" class="button">Register</button>
            </div>
        </div>
        <div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li class='messages'>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <h6>Already have an account? <a href="/accounts/login"><strong>login here!</strong></a></h6>
    </form>

</body>

{% endblock %}