{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>

<body>
    <div class="about-section">
        <h1>About Us</h1>
        <p>Developed as a project for Software Engineering Subject - S6</p>
        <p>Responsive, Flexible, Functional and Moderable site :-)</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/media/profile/vijay.jpeg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Vijay Tanmay</h2>
                    <p class="title">AM.EN.U4CSE18155</p>
                    <p>Backend & Scrum, Moderable Front-end</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/media/profile/Subhash.JPG" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Subhash Reddy</h2>
                    <p class="title">AM.EN.U4CSE18126</p>
                    <p>Back-end & Moderable Front-end</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/media/profile/likith.JPG" alt="John" style="width:100%">
                <div class="container">
                    <h2>Likith Mothukuri</h2>
                    <p class="title">AM.EN.U4CSE18136</p>
                    <p>UI Designer & Tester</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/media/profile/mounish.JPG" alt="John" style="width:100%">
                <div class="container">
                    <h2>Mounish Ch</h2>
                    <p class="title">AM.EN.U4CSE18113</p>
                    <p>Bug Identifier</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>