{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- //web font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>

<body>
    {% block content %}
    <header class="showcase">
        <div class="showcase-top">
            <img src="/media/images/streamZ_logo.png" alt="" /> {% if user.is_authenticated %}
            <a href="{% url 'logout_url' %}" class="btn btn-rounded">Logout</a> {% else %}
            <a href="{% url 'login_url' %}" class="btn btn-rounded">Sign In</a> {% endif %}
        </div>
        <div class="showcase-content">
            <h1>See what's next</h1>
            <p>The Experience you crave for :-)</p>
            <a href="{% url 'register'%}" class="btn btn-xl">Register and try our Product<i class="fas fa-chevron-right btn-icon"></i
            ></a>
        </div>
    </header>

    <footer class="footer">
        <div class="footer-cols">
            <ul>
                <li><a href="{% url 'about_page' %}" target="_blank">About</a></li>
                <li><a href="https://github.com/vijay9908/StreamZ" target="_blank">Github Link</a></li>
                <li><a href="https://drive.google.com/drive/folders/1sXshvopytWNQOFn3PyBd-xW5dyTTtR3K?usp=sharing" target="_blank">SWE Documentation</a></li>
            </ul>
        </div>

    </footer>

    {% endblock %}

    <script type="text/javascript">
        const tabItems = document.querySelectorAll('.tab-item');
        const tabContentItems = document.querySelectorAll('.tab-content-item');

        // Select tab content item
        function selectItem(e) {
            // Remove all show and border classes
            removeBorder();
            removeShow();
            // Add border to current tab item
            this.classList.add('tab-border');
            // Grab content item from DOM
            const tabContentItem = document.querySelector(`#${this.id}-content`);
            // Add show class
            tabContentItem.classList.add('show');
        }

        function removeBorder() {
            tabItems.forEach(item => {
                item.classList.remove('tab-border');
            });
        }

        function removeShow() {
            tabContentItems.forEach(item => {
                item.classList.remove('show');
            });
        }

        tabItems.forEach(item => {
            item.addEventListener('click', selectItem);
        });
    </script>
</body>

</html>